.button {
  border: 3px solid;
  box-sizing: border-box;
  border-radius: 30px;
  background: transparent;
  min-width: 280px;
  min-height: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  font-family: inherit;
}
.button-download {
  border-color: #ffffff;
  color: #ffffff;
}
.button-heart {
  background-color: transparent;
  border: transparent;
}
.upload-button {
  background-color: transparent;
  border: transparent;
}
.button-upload-submit {
  border-color: #d22856;
  color: #d22856;
}
.button-upload-reset {
  border-color: #dedfe1;
  color: #dedfe1;
}
.main-button {
  background: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 1px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  font-family: inherit;
}
.contact__wrapper {
  text-align: center;
  margin: 50px 50px 0;
}
.contact__text-info {
  color: #d22856;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
}
.download {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1d2631;
  min-height: 271px;
}
.download__wrapper {
  margin: 28px 20px 38px;
}
.download__platform-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 38px 58px 31px;
}
.download__text {
  color: #ffffff;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.features {
  background-color: #f2f2f2;
  min-height: 999px;
}
.features__list {
  list-style-type: none;
  text-decoration: none;
  padding: 53px 40px;
}
.features__item {
  margin-bottom: 43px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  min-height: 284px;
}
.footer__wrapper {
  margin: auto;
}
.footer__logo {
  text-align: center;
  margin-bottom: 38px;
}
.footer__socials-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
  min-width: 180px;
  min-height: 54px;
  padding: 0;
  margin: 0;
  margin-bottom: 38px;
}
.footer__socials-item {
  width: 54px;
  height: 54px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  padding: 15px;
  box-sizing: border-box;
}
.footer__developer {
  display: flex;
  justify-content: space-evenly;
}
.footer__developer-text {
  color: #283645;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.title-bold {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
.text {
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.header__backgraund {
  background-image: url("/img/background-first-page.png");
  background-repeat: no-repeat;
  min-height: 462px;
  min-width: 320px;
  background-color: #152431;
  background-size: cover;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 66px;
  margin-left: 20px;
  margin-right: 20px;
}
.header__menu-button {
  background-color: transparent;
  border: transparent;
}
.header__catalog-title {
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin: 36px 74px 84px;
}
.header__form-text {
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin: 36px 48px 51px;
}
.detailed {
  display: none;
}
.reviews__desc {
  display: none;
}
.main__catalog-container {
  min-height: 184px;
  padding: 50px 20px 60px;
}
.main__catalog-container-text {
  color: #283645;
  font-weight: 400px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.main__form-title {
  color: #283645;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.nav {
  background-color: #283445;
  margin: 0;
}
.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  min-height: 63px;
}
.nav__link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}
.price {
  min-height: 504px;
}
.price__image {
  margin: 83px 0 45px;
}
.price__toggles {
  text-align: center;
  margin-bottom: 49px;
}
.reviews {
  background-color: #ffffff;
  min-height: 364px;
}
.reviews__list {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
}
.reviews__item {
  margin: 50px 20px 44px;
}
.reviews__title {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  list-style: 30px;
  text-align: center;
}
.reviews__text {
  color: #283645;
  font-weight: 400;
  font-size: 14px;
  list-style: 30px;
  text-align: center;
}
.reviews__toggles {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
}
.slogan {
  margin: 46px 20px 70px;
}
.slogan-text {
  color: #283645;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}
.photo-card {
  display: flex;
  flex-direction: column;
  margin: 0;
  color: #283645;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
}
.photo-card__backgraund {
  background-color: #f2f2f2;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  padding: 25px 10px 25px 17px;
}
.photo-card__title {
  font-weight: 700;
  font-size: 14px;
}
.photo-card__desc {
  font-weight: 300;
  font-size: 12px;
}
.photo-card__text {
  font-weight: 400;
  font-size: 14px;
}
.photo-card__like {
  display: flex;
  flex-wrap: wrap;
  min-width: 100px;
  justify-content: flex-start;
}
.photo-card__like-counter,
.photo-card__like-text {
  color: #d22856;
  font-size: 12px;
}
.form-photo__slogan {
  background-color: #ffffff;
  color: #283645;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 757px;
  background-color: #f2f2f2;
}
.upload__edit {
  display: flex;
  flex-wrap: wrap;
  min-width: 192px;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
.upload__button-post {
  display: flex;
  flex-direction: column;
  height: 122px;
  justify-content: space-between;
}
.form-title,
.star {
  color: #d22856;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}
.legend-title {
  color: #d22856;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
.achievement {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.fieldset-text {
  color: #283645;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
.platform {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.form__rules {
  color: #283645;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700, bold;
  src: url("../fonts/opensansbold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700, bold;
  src: url("../fonts/opensansbold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300, lighter;
  src: url("../fonts/opensanslight.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300, lighter;
  src: url("../fonts/opensanslight.woff2") format("woff2");
  font-display: swap;
}
body {
  margin: 0;
  width: 320px;
  font-family: "Open Sans", "Aria", sans-serif;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */
