.button {
  border: 3px solid;
  box-sizing: border-box;
  border-radius: 30px;
  background: transparent;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  font-family: inherit;
}

.button-download {
  border-color: #ffffff;
  color: #ffffff;
  padding: 18px 36px;
}

.button-download:hover {
  background-color: #ffffff;
  color: #d22856;
}

.button-download:active {
  background-color: #ffffff;
  color: #f2bfcc;
}

.button-heart {
  background-color: transparent;
  border: transparent;
}

.upload-button {
  background-color: transparent;
  border: transparent;
}

.button-upload-submit {
  border-color: #d22856;
  color: #d22856;
}

.button-upload-submit:hover {
  background-color: #d22856;
  color: #ffffff;
}

.button-upload-submit:active {
  background-color: #d22856;
  color: #e06989;
}

.button-upload-reset {
  border-color: #dedfe1;
  color: #dedfe1;
}

.button-upload-reset:hover {
  border-color: #b6babe;
  color: #b6babe;
}

.button-upload-reset:active {
  background-color: #b6babe;
  color: #cccfd2;
}

.main-button {
  background: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 1px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  font-family: inherit;
}

.main-button:hover {
  background-color: #1c9b5e;
}

.main-button:active {
  background-color: #1c9b5e;
  color: #60b98e;
}

.main-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}
