.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.footer__wrapper {
  margin: 40px auto 70px;
}

.footer__logo {
  text-align: center;
  margin-bottom: 38px;
}

.footer__socials-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
  min-width: 180px;
  padding: 0;
  margin: 0;
  margin-bottom: 38px;
}

.footer__socials-item {
  width: 54px;
  height: 54px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  padding: 15px;
  box-sizing: border-box;
}

.footer__developer {
  display: flex;
  justify-content: space-evenly;
}

.footer__developer-text {
  color: #283645;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-right: 13px;
}

@media (min-width: @tablet-width) {
  .footer__wrapper {
    display: flex;
    margin: 37px 20px 0 20px;
    min-width: 620px;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .footer__wrapper {
    display: flex;
    width: 940px;
    margin: auto;
    justify-content: space-between;
  }
}
