.form-photo__slogan {
  background-color: #ffffff;
  color: #283645;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 757px;
  background-color: #f2f2f2;
}

.upload__edit {
  display: flex;
  flex-wrap: wrap;
  min-width: 192px;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.upload__button-post {
  display: flex;
  flex-direction: column;
  height: 122px;
  justify-content: space-between;
}

