.header__backgraund {
  position: relative;
  background-image: url("../img/back-mobile.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  min-height: 462px;
  min-width: 320px;
  background-color: #152431;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.png");
  }
}

.header__wrapper {
  background-color: #1624314d;
}

.header__menu-logo-img {
  margin-left: 20px;
  align-items: center;
  height: 66px;
}

.header__menu-logo-mobile {
  display: block;
  margin-left: 20px;
  align-items: center;
  height: 66px;
  fill: #ffffff;
}

.header__menu-logo-mobile:hover {
  fill: #d22856;
}

.header__menu-logo-mobile:active {
  fill: #ffffff;
  opacity: 0.3;
}

.header__menu-logo-tablet {
  display: none;
}

.header__menu-logo-desktop {
  display: none;
}

.nav__menu-button {
  background-color: transparent;
  border: transparent;
}

.header__catalog-title {
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin: 36px 74px 84px;
}

.header__form-text {
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  width: 228px;
  margin: auto;
}

@media (min-width: @tablet-width) {
  .header__backgraund {
    position: relative;
    background-image: url("../img/back-tablet.png");
    background-position: 0 -35px;
    background-repeat: no-repeat;
    min-height: 709px;
    background-color: #152431;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.png");
    }
  }

  .header__menu-logo-mobile {
    display: none;
  }

  .header__menu-logo-tablet {
    display: block;
    margin-left: 20px;
    align-items: center;
    height: 66px;
    fill: #ffffff;
  }

  .header__menu-logo-tablet:hover {
    fill: #d22856;
  }

  .header__menu-logo-tablet:active {
    fill: #ffffff;
    opacity: 0.3;
  }


  .header__menu-logo-desktop {
    display: none;
  }

  .header__catalog-title {
    color: #ffffff;
    width: 358px;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    text-align: center;
    margin: auto;
  }

  .header__form-text {
    font-size: 50px;
    line-height: 68px;
    width: 620px;
  }
}

@media (min-width: @desktop-width) {
  .header__backgraund {
    position: relative;
    background-image: url("../img/back-desktop.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    min-height: 853px;
    background-color: #152431;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.png");
    }
  }

  .header__menu-logo-mobile {
    display: none;
  }

  .header__menu-logo-tablet {
    display: none;
  }

  .header__menu-logo-desktop {
    display: block;
    fill: #ffffff;
  }

  .header__menu-logo-desktop:hover {
    fill: #d22856;
  }

  .header__menu-logo-desktop:active {
    fill: #ffffff;
    opacity: 0.3;
  }


  .header__form-text {
    font-size: 50px;
    line-height: 68px;
    width: 747px;
  }

  .header__menu {
    display: flex;
    width: 940px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
  }

  .nav__menu-button {
    display: none;
  }
}
