.main__catalog-container {
  min-height: 184px;
  padding: 50px 20px 60px;
}

.main__catalog-container-text {
  color: #283645;
  font-weight: 400px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  @media (min-width: @desktop-width) {
    font-weight: 400px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}

.main__form-title {
  color: #283645;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  width: 280px;
  margin: auto;
}

@media (min-width: @tablet-width) {
  .main__catalog-container-text {
    font-weight: 400px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .main__form-title {
    font-weight: 400px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    width: 490px;
    margin: 85px 100px 85px;
  }
}

@media (min-width: @desktop-width) {
  .main__catalog-container-text {
    font-weight: 400px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .main__form-title {
    font-weight: 400px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    width: 756px;
    margin: 100px 222px 90px;
  }
}
