.photo-card {
  display: flex;
  flex-direction: column;
  margin: 0;
  color: #283645;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
}

.photo-card__backgraund {
  background-color: #f2f2f2;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  padding: 25px 10px 25px 17px;
}

.photo-card__title {
  font-weight: 700;
  font-size: 14px;
}

.photo-card__desc {
  font-weight: 300;
  font-size: 12px;
}

.photo-card__text {
  font-weight: 400;
  font-size: 14px;
}

.photo-card__like {
  display: flex;
  flex-wrap: wrap;
  min-width: 100px;
  justify-content: flex-start;
}

.photo-card__like-counter,
.photo-card__like-text {
  color: #d22856;
  font-size: 12px;
}
